.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}
.not-clickable {
    cursor: not-allowed !important;
}

.full-width {
    width: 100%
}

.lowercase {
    text-transform:lowercase;
}

.uppercase {
    text-transform: uppercase;
}

@import 'spacers';
@import 'position';
@import 'sizing';
