@import '~assets/scss/colors';

$border-width: 5px;

ef-event-list-item {
    &:nth-child(3n+1) {
        border-left:$border-width solid $purple500;
    }
    &:nth-child(3n) {
        border-left:$border-width solid $yellow500;
    }
    &:nth-child(3n-1) {
        border-left:$border-width solid $orange500;
    }
}
