<div class="top-bar">
    <a [routerLink]="['/events']">
        <md-icon class="vertical-center">keyboard_backspace</md-icon>
        <span>Back to Events</span></a>
</div>
<div *ngFor="let event of [event$ | async]">
    <div *ngIf="event !== null">
        <div class="section-header">
            <div fxLayout="row">
                <div fxFlex="80%">
                    <h1 class="top-margin-0"
                        [innerText]="event.name"></h1>
                </div>
                <div fxFlex="20%" class="text-right">
                    <button *ngIf="event.status === 'Open'"
                        md-raised-button color="primary"
                        [routerLink]="['/event', event.id, 'register']">Register</button>
                    <ef-event-status *ngIf="event.status !== 'Open'"
                        [status]="event.status"></ef-event-status>
                </div>
            </div>
            <p [innerHTML]="event.description"></p>
            <p>
                <span [innerText]="event.start | date:'MMMM dd, y hh:mm a'"></span>
                <span>to</span>
                <span [innerText]="event.end | date:'MMMM dd, y hh:mm a'"></span>
            </p>
        </div>
        <div *ngIf="event.sessions.length === 0">
            <h4>There are no sessions for this event.</h4>
        </div>
        <ef-session-list-item *ngFor="let session of event.sessions"
            [session]="session"></ef-session-list-item>
    </div>
</div>
<ef-loading-spinner *ngIf="loading$ | async"
    message="Loading Event Detail..."></ef-loading-spinner>
