@import '~assets/scss/colors';

:host {
    position:absolute;
    bottom:0;
    width:100%;
    background: rgba($orange500, .1);
    border-top: 1px solid rgba($orange500, .4);
}

footer {
    font-size:12px;
    color: lighten($grey000, 65%);
    .mat-icon {
        height:12px;
        width:12px;
        font-size:12px;
        color:$red500;
        animation: pulsate 3s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.0
    }
    a {
        text-decoration: none;
        color:inherit;
        &:hover {
            font-weight:600;
        }
    }
}

@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
