@import '~assets/scss/colors';

$min-height: 120px;

:host {
    display:block;
    position:relative;
    cursor: pointer;
}

.event-row {
    display:block;
    background: $grey900;
    border-bottom:1px solid $grey800;
    min-height:$min-height;
    transition: all 0.2s ease;
    &:hover {
        background: $grey800;
    }
    @media(max-width: 400px) {
        padding-bottom:40px;
        padding-left:20px;
        .title {
            font-size:22px;
            margin:10px 0;
        }
    }
    .date-container {
        position:relative;
        min-height:$min-height;
        @media(max-width: 400px) {
            min-height: 70px;
            .day {
                font-size:28px;
            }
            .start-date {
                margin-left:0;
            }
        }
    }
    .day {
        font-weight:800;
        font-size:42px;
    }
    .month {
        font-size:12px;
        text-transform: uppercase;
    }
    .registrations {
        position:absolute;
        top:20px;
        right:20px;
        font-size:20px;
        font-weight:600;
        .label {
            font-size:12px;
            font-weight:400;
        }
    }
}

